body {
  cursor: url("img/EV3.png"), auto;
}

body {
  font-family: "Poppins", Times, serif, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}
h1 {
  font-size: 42px;
}
.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
}

.gauge {
  width: 300px;
  height: 240px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.data-container {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
  margin: 10px 0;
}

strong {
  font-weight: bold;
}
.logo {
  width: 7%;
  margin-left: 20px;
}

.titre {
  margin-left: 300px;
  font-size: 50px;
  font-family: Poppins;
}

footer {
  background-color: #333;
  color: #ffffff;
  text-align: center;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.pages {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
  background-image: linear-gradient(
    to right,
    #232526 0%,
    #414345 51%,
    #232526 100%
  );
  margin: 10px;
  padding: 20px 25px;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
}

button:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.temps {
  height: 500px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.imgtemps {
  width: 400px;
}

.phrase {
  font-size: 40px;
}
.yes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ev3 {
  width: 300px;
  transition: 600ms;
  margin-bottom: 30px;
}

.ev3:hover {
  transform: scale(1.3);
}

.names {
  transition: 0.5s;
}

.names:hover {
  transform: scale(1.1) translateY(-2px);
}

.gaugep {
  width: 90%;
  height: 200px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 20px;
}

.jo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.joimg {
  margin-top: 40px;
  width: 15%;
  margin-bottom: 40px;
}
.txt {
  width: 70%;
  margin-top: 40px;
  font-size: 20px;
}

.imgtitre {
  width: 20px;
}

.ptittitre {
  margin-left: 300px;
  margin-top: -30px;
}

.ptittitre-his {
  margin-left: 20px;
  margin-top: -30px;
}

.titre-his {
  margin-left: 10px;
  font-size: 50px;
  font-family: Poppins;
}
